<div class="container my-4">
   <div class="row">
      <!--Grid row-->
      <!--Grid column-->
      <div class="col-lg-10 mb-6 mx-auto">
         <!-- Card -->
         <div class="card">
            <!-- Card image -->
            <div class="view overlay">
               <img class="card-img-top" src="https://marleyspoon.com/assets/ms/errors/not_found-cee2382f6c89b19ce629c3188076b8af.jpg" alt="not found">
            </div>
            <!-- Card content -->
            <div class="card-body">
               <!-- Button -->
               <p class="card-text">It's not you. It's us. Please check after sometime. We are working on the fix...</p>
            </div>
         </div>
         <!-- Card -->
      </div>
      <!--Grid column-->
      <!--Grid row-->
   </div>
</div>
