/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
/*
  *= require bootstrap
  *= require_tree .
  *= require_self
 */
@import "bootstrap-sprockets";  

.bg-header-nav {
    background-color: #47d7ac !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #000000;
    background-color: #47d7ac;
    border-color: #47d7ac;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #ffff;
    border: 1px solid #47d7ac;
}